*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Estilos estandar para todo el sitio */
/* Encabezado-navegador-footer */
body{
    background: linear-gradient(0deg, rgba(9,103,121,1) 60%, rgba(12,177,212,0.8799894957983193) 94%);
}


.encabezadoIndex{
    background-image: url(../multimedia/imagen-21-1.jpg);
    background-position: center;
    height: 680px;
    opacity: 0.7;
    display: flex;
    flex-direction:row;
    justify-content:start;
    align-content:center;
}
header h1{
    font-family: Helvetica;
    font-size: 80px;
    font-weight: bold;
    color:black;
    display: flex;
    margin-top: 150px;
}
.imagenLogo{
    transform:scale(0.8);
    display: flex;
    margin-top: 50px;
}
footer{
    background-color:black;
    font-family: Helvetica;
    color: white;
}
footer ul{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer span{
    color: red;
}
.contactos{
    padding: 5px;
    background-color: grey;
    background-clip:border-box;
    font-family: Helvetica;
    font-size: 25px;
    color: white;
    border-top-right-radius:  10px;
    border-bottom-left-radius:  10px;
}

/* Media Queris para encabezado y navegador */
@media screen and (min-width:320px) and (max-width:480px){
    header{
        background-image: url(../multimedia/imagen-21-1.jpg);
        background-position: 10%;
        height: 500px;
        opacity: 0.7;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content:center;
    }
    header h1{
        font-family: Helvetica;
        font-size: 30px;
        font-weight: bold;
        color:black;
        text-align: center;
        display: flex;
        margin-top: 15px;
}
.imagenLogo{
    display: flex;
    text-align: center;
}
}


/* Estilos específicos para página "Index.html" */

.contenidoIndex{
    background-color: rgb(32, 32, 32);     
    
}
.contenidoIndex__titulo{
    text-align: left;
    font-family:Helvetica;
    font-size: 40px;
    font-weight: bold;
    color: white;
    grid-area: contenidoIndex__titulo;
    margin-top: 20px;

}
.contenidoIndex{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    grid-template-areas: "contenidoIndex__titulo contenidoIndex__titulo "
                         "parrafoNosotros imagen-09";
    justify-content:center;
    justify-items:center;
    align-items: center;
}
.parrafoNosotros{
    grid-area: parrafoNosotros;
    font-family: Helvetica;
    color:blue;
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.imagen-09{
    transform:scale(2);
    grid-area: imagen-09;
}


/* Media Queris para el contenido de Nosotros */

@media screen and (min-width:320px) and (max-width:768px){
    .contenidoIndex{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "contenidoIndex__titulo"
                             "parrafoNosotros" 
                             "imagen-09";
        justify-content:center;
        justify-items:center;
        align-items: center;
    }
    .contenidoIndex__titulo{
        text-align: center;
    }
    .imagen-09{
        transform:scale(0.9);
    }
    .parrafoNosotros{
        font-family: Helvetica;
        font-size: 15px;
    }
    
}




/* Estilos específicos para pagina "Política de Calidad.hatml" */
.parrafoVision{
    text-align:justify;
    font-size:20px ;
    font-family: Helvetica;
}
.parrafoMision{
    text-align:justify;
    font-size:20px ;
    font-family: Helvetica;
}
.parrafoValores{
    text-align: justify;
    font-size:20px ;
    font-family: Helvetica;
}
.contenidoPol__titulo{
    margin-top: 20px;
    font-family: Helvetica;
    font-weight: bold;
    font-size:40px ;
}
.imagenMisionVisonValores{
    transform: scale(0.7);
}


/* Estilos para página Servicios */

.cajaImagenes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
    grid-template-areas: "imagenMantenimiento imagenPlan" 
                         "imagenCalibraciones imagenMecanizados-01";
    justify-content:center;
    justify-items:center;
    align-items:center;
    column-gap: 25px;
    row-gap: 25px;
 
    grid-area: cajaImagenes;

}

.contenidoServicio{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto auto;
    grid-template-areas: "contenidoServicio__titulo contenidoServicio__titulo"
                         "mantenimientoC planTareas"
                         "calibraciones mecanizados"
                         "cajaImagenes cajaImagenes";
    justify-content: center;
    justify-items:center;
    align-items: center;
    row-gap: 30px;
    column-gap: 30px;
    margin: 40px;
}


.contenidoServicio__titulo{
    font-family: Helvetica;
    font-size: 40px;
    grid-area:contenidoServicio__titulo ;
}
.carousel-item{
    color:blue;
}
/* Estilos para la página Productos */
.contenidoProductos{
    text-align: left;
    font-family: 'Noto Serif', serif;
    color: white;
    margin:40px;

}
.textosImagenes{
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color:#4F33FF ;
}